<nav class="navbar navbar-expand-lg bg-primary navbar-dark border-bottom py-16 ">
    <div class="container">
        <h1 class="m-0 ff-sh fs-24"><a class="navbar-brand fs-lg-32 m-0" href="index.html">ALPHABOX+</a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-navbar-collapse fw-medium pt-24 pb-32 p-lg-0 justify-content-lg-between " id="navbarNav">
            <ul class="navbar-nav align-items-center gap-4 gap-lg-40 justify-content-center flex-grow-1 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">產品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">最新消息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">聯絡我們</a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center gap-4">
                <li class="nav-item me-lg-24">
                    <a class="nav-link" aria-current="page" href="#">註冊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-lg-32" href="#">登入</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light d-flex align-items-center py-8 px-16" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <mask id="mask0_5505_435" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                          <rect width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_5505_435)">
                          <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="black"/>
                        </g>
                      </svg>訂閱</a>
                </li>
            </ul>
        </div>
    </div>
</nav>