// swiper 1
.alphabox {
  height: 351px;
  background-image: url("/assets/images/carousel.png");
  background-size: cover;
  background-position: center;
  padding: 0 16px;

  @include media-breakpoint-up(md) {
    height: 560px;
    padding: 0 40px;
  }

  &-title {
    font-size: 24px;
    letter-spacing: 24px;
    font-weight: bold;
    margin-right: -24px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  position: initial;
  width: auto;
  height: auto;

  &::after {
    content: '';
  }
}

// swiper 2
/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
  background-color: #FFF;
}
/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
  background-color: rgba(255, 255, 255, 0.20);
}
/* card height */
.share-card{
  height: 351px;
  @include media-breakpoint-up(lg){
    height: 416px;
  }
}

.swiper2 {
  pointer-events: none;
  @include media-breakpoint-up(lg) {
    pointer-events: initial;
  }
}