.section-title-sub{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 24px;
    line-height: 1.5;
    @include media-breakpoint-up(lg){
        font-size: 48px;
        letter-spacing: 48px;
    }
}
.section-title{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 40px;
    line-height: 1.5;
    @include media-breakpoint-up(lg){
        font-size: 48px;
        letter-spacing: 48px;
    }
}