.my-navbar-collapse{
  position: absolute;
  z-index: 1;
  border-top: 1px solid $light;
  background: linear-gradient(180deg, #7000FF 0%, #11002D 100%);
  top: 100%;
  width: 100%;
  left: 0;
  @include media-breakpoint-up(lg){
    position: static;
    background: initial;
    border-top: none;
  }
}
.box-shadow-hover:hover{
  box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
}
.bg-img1{
  background-image: url("/assets/images/home_background.png");
  background-size: cover;
}
.bg-img2{
  background-image: url("/assets/images/carousel_background.png");
  background-repeat: no-repeat;
  background-size: 50% auto;
  object-fit: cover;
  background-position: left center;
}
.bg-gradient1{
  @include radial-gradient(#300871, #000);
}
.bg-gradient2{
  @include radial-gradient(#28085C, #000);
}
.bg-gradient3{
  @include radial-gradient(#000, #300871);
}
.bar{
  height: 40px;
  background: linear-gradient(90deg, $primary 1.22%, $secondary 116.05%);
}
.container-xxxl{
  max-width: 1760px;
}

.alphaboxCircle {
  width: 196px;
  animation-name: rotate;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
  animation-fill-mode: both; 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// swiper 1
.alphabox{
  height: 351px;
  background-image: url("/assets/images/carousel.png");
  background-size: cover;
  background-position: center;
  padding: 0 16px;
  @include media-breakpoint-up(md){
    height: 560px;
    padding: 0 40px;
  }
  &-title{
    font-size: 24px;
    letter-spacing: 24px;
    font-weight: bold;
    margin-right: -24px;
  }
}
.swiper-button-prev, .swiper-button-next{
  color: white;
  position: initial;
  width: auto;
  height: auto;
  &::after {
    content: '';
  }
}
// swiper 2
/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
  background-color: #FFF;
}
/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
  background-color: rgba(255, 255, 255, 0.20);
}

.ai-card {
  padding: 24px 12px;
  background-color: #000;
  background-blend-mode: darken;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true);
  background-size: cover;
  background-position: center;
  transition: all 1s;
  @media (min-width: 768px) {
    padding: 24px 40px 56px;
  }
  &:hover {
    background-color: #00000080;
  }
}